JSON/**/*
bd/**/*
blog/**/*
*.txt
widget/css/**/* 
widget/templates/**/* 
searchbar/templates/**/* 
busca/templates/**/*
busca/js/searchbar/searchbar.min.js
error_log
.buildpath
.project
.settings/**/* 
lite/**/* 