.config-group {
	border: 1px solid lightgrey;
    padding: 15px;
    border-radius: 5px;
}

.config-group .panel-heading .panel-title a {
	display: block;
	position: relative;
}

.tagflag {
	border : 3px solid blue;
	border-radius : 10px; 
}
.borderdiv {
	display: none;
	border-top : 5px solid #16D39A ; 
	border-bottom : 5px solid #16D39A;
}

.form-group {
	position: relative;
}

.btn-delete-form-group,
.btn-remove-panel-group {
	position: absolute;
	right: 10px;
	top: 5px;
	font-size: 20px;
	cursor: pointer;
}
.btn-remove-panel-group {
	right: 30px;
	top: 8px;
}

#divTagsProdutosRelacionados input {
	display: none;
}

.modal-footer .rh-id-wid {
	position: relative;
	top: 15px;
}