<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1"/>
	<title>Document</title>

	<!-- kit_test slider -->
	<link rel="stylesheet" href="css/styles.css"/ class="urlComplete">
	<!-- /kit_test slider -->
</head>
<body>

	<!-- kit_test slider -->
	<div class="rh_gridTpl">
		<section class="rh_tpl slider">
			<h3>
				kit test
			</h3>
        	<div class="touchNiced" data-view="4" data-init="true" data-grid=".gridNiced" data-nav="true" data-bullet="true" data-caption="true" data-delay="2500" data-transition="1">
	            <div class="contentNiced">
	                <div class="blockNiced">
	                    <div class="loaderNiced">
	                        <span></span>
	                    </div>
						<ul>
							<li>
								<div>
									<a href="#" title="Vip dream">
										<figure>
											<img src="img/kit_test_slider_prod_1.jpg" alt="Vip dream" class="urlComplete"/>
											<figcaption>
												Vip dream
											</figcaption>
										</figure>
									</a>
									<strong>
										Desodorante colônia
									</strong>
									<em>
										feminino 100 ml
									</em>
									<div class="price">
										<span>
											de R$ 99,90
										</span>
										<span>
											por R$
											<b>
												69,90
											</b>
										</span>
										<span>
											ou
											<b>
												5x
											</b>
											R$
											<b>
												13,98
											</b>
										</span>
									</div>
									<a href="#" class="buy">
										Comprar
									</a>
								</div>
							</li>
							<li>
								<div>
									<a href="#" title="Delicius pink">
										<figure>
											<img src="img/kit_test_slider_prod_2.jpg" alt="Delicius pink"/>
											<figcaption>
												Delicius pink
											</figcaption>
										</figure>
									</a>
									<strong>
										Desodorante colônia
									</strong>
									<em>
										feminino 100 ml
									</em>
									<div class="price">
										<span>
											de R$ 139,90
										</span>
										<span>
											por R$
											<b>
												99,90
											</b>
										</span>
										<span>
											ou
											<b>
												5x
											</b>
											R$
											<b>
												19,98
											</b>
										</span>
									</div>
									<a href="#" class="buy">
										Comprar
									</a>
								</div>
							</li>
							<li>
								<div>
									<a href="#" title="Wood good">
										<figure>
											<img src="img/kit_test_slider_prod_3.jpg" alt="Wood good"/>
											<figcaption>
												Wood good
											</figcaption>
										</figure>
									</a>
									<strong>
										Desodorante colônia
									</strong>
									<em>
										feminino 100 ml
									</em>
									<div class="price">
										<span>
											de R$ 109,90
										</span>
										<span>
											por R$
											<b>
												89,90
											</b>
										</span>
										<span>
											ou
											<b>
												5x
											</b>
											R$
											<b>
												17,98
											</b>
										</span>
									</div>
									<a href="#" class="buy">
										Comprar
									</a>
								</div>
							</li>
							<li>
								<div>
									<a href="#" title="Black luxury">
										<figure>
											<img src="img/kit_test_slider_prod_4.jpg" alt="Black luxury"/>
											<figcaption>
												Black luxury
											</figcaption>
										</figure>
									</a>
									<strong>
										Desodorante colônia
									</strong>
									<em>
										feminino 100 ml
									</em>
									<div class="price">
										<span>
											de R$ 179,90
										</span>
										<span>
											por R$
											<b>
												99,90
											</b>
										</span>
										<span>
											ou
											<b>
												5x
											</b>
											R$
											<b>
												29,98
											</b>
										</span>
									</div>
									<a href="#" class="buy">
										Comprar
									</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /kit_test slider -->

	<!-- kit_test slider -->
	<script src="js/functions.js" class="urlComplete"></script>
	<!-- /kit_test slider -->
</body>
</html>