<?php 
header('Access-Control-Allow-Origin: *');
header('Access-Control-Allow-Methods: GET, POST');
?>

<input type="hidden" class="__rh-sb-config__"
	data-page-results="/"

	data-product='
		<li class="rh-sb-product" data-rh-sku="{sku}">
			<div class="rh-sb-product-container">
				<div class="rh-sb-product-img" alt="{name}">
					<a href="{link}">
						<img src="{image}"/>
					</a>
				</div>
				
				<div class="rh-sb-product-info">
					<a href="{link}">
						<span class="rh-sb-product-name">
							{name}
						</span>
						<div class="rh-sb-product-price">
							{check_price}
								{case_true}
									<div class="rh-sb-old-price">
										{old_price}
									</div>
									<div class="rh-sb-new-price">
										{new_price}
									</div>
								{case_true}

								{case_false}
									<div class="rh-sb-new-price">
										{new_price}
									</div>
								{case_false}
							{check_price}
						</div>
						<div class="rh-sb-product-installment">
							{check_installment}
								{case_true}
									<strong>{installment_times}x</strong> de <strong>{installment_price}</strong>
								{case_true}

								{case_false}
								{case_false}
							{check_installment}
						</div>
					</a>
				</div>
			</div>
		</li>
	'
	data-product-result = '
		<li class="rh-sb-result-item" data-rh-sku="{sku}">			
			<div class="rh-sb-product-container">
				<div class="rh-sb-product-img" alt="{name}">
					<a href="{link}">
						<img src="{image}"/>
					</a>
				</div>
				<div class="rh-sb-product-info">
					<a href="{link}">
						<span class="rh-sb-product-name">
							{name}
						</span>
						<div class="rh-sb-product-price">
							{check_price}
								{case_true}
									<div class="rh-sb-old-price">
										{old_price}
									</div>
									<div class="rh-sb-new-price">
										{new_price}
									</div>
								{case_true}

								{case_false}
									<div class="rh-sb-new-price">
										{new_price}
									</div>
								{case_false}
							{check_price}
						</div>
						<div class="rh-sb-product-installment">
							{check_installment}
								{case_true}
									<strong>{installment_times}x</strong> de <strong>{installment_price}</strong>
								{case_true}

								{case_false}
								{case_false}
							{check_installment}
						</div>
					</a>
				</div>
			</div>
		</li>
	'
	data-ignore = '["quero comprar","quero","comprar"]'

	data-currency = 'R$'

	data-focus-background = '#000,0.7'

	data-delay='500'

	data-paginate='false'
>
<!-- limite máximo do dropdown é 24 -->
<div class="__rh-sb-main__ rh-sb-main-container">
	<!-- input -->
	<div class="rh-sb-input-container">
		<input class="__rh-sb-input__ rh-sb-input" type="text" autocomplete="false" data-rh-searchbar="{searchbar-number}" placeholder="O que você está procurando?"><!-- js -->
		<span class="__rh-sb-search__ rh-sb-button" data-rh-searchbar="{searchbar-number}"></span><!-- js -->
		<div class="__rh-sb-dropdown__"></div>
		<span class="rh-sb-close-dropdown" data-rh-role="dropdown[close]"></span>
	</div>

	<!-- Overlay -->
	<div class="__rh-sb-overlay__ rh-sb-overlay" data-rh-searchbar="{searchbar-number}"><!-- js -->
		<div class="rh-sb-overlay-dialog">
			<span class="__rh-sb-closeOverlay__ rh-sb-overlay-close"></span><!-- js -->
			<div class="rh-sb-overlay-header">
				<div class="rh-sb-order-by">
					<span></span>
					<ul id="__rh-sb-orderBy__" class="rh-sb-overlay-order-by">
						<li class="rh-sb-order-by-option" data-rh-role="overlay[orderByTopSellers]">Mais vendidos</li>
						<li class="rh-sb-order-by-option" data-rh-role="overlay[orderByLowestPrice]">Menor preço</li>
						<li class="rh-sb-order-by-option" data-rh-role="overlay[orderByHighestPrice]">Maior preço</li>
					</ul>
				</div>
				<span class="rh-sb-goto-results" data-rh-role="overlay[gotoResultsPage]">VER TODOS</span>
			</div>

			<span class="rh-sb-search-word">Resultado aproximado para: <span data-rh-bind="overlay[search-word]"></span></span><!-- js -->

			<div class="rh-sb-overlay-shelf">
				<!-- slider -->
				<div class="rh-sb-slider" 
				data-rh-role="roi-hero-searchbar-slider" 
				data-view="4" 
				data-transition="0.45" 
				data-edge-padding="0" 
				data-responsive=
				'{		
					"0": {
						"items": 1,
						"controls": true
					},

					"540": {
						"items": 2,
						"controls": true
					},	

					"768": {
						"items": 3,
						"controls": true
					},
					
					"1000": {
						"items": 4,
						"controls": true
					}
				}'
				>
					<div class="rh-sb-slider-container">
						<ul class="__rh-sb-shelfResults__ rh-sb-slider-content" data-rh-role="searchbar-slider-slide"></ul>
					</div>
				</div>
				<!-- slider -->
			</div>
			<div class="rh-sb-related-searchs">
				<span>Pesquisas Relacionadas:</span>
				<ul class="rh-sb-related-list" data-rh-role="overlay[relatedSearchs]">
				</ul>
			</div>
		</div>
	</div>
</div>